apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-7k6w
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-bundle-tenant/appstudio/dc-metro-map-7k6w@sha256:2adeb355a7993890a7c95b2bd357c5469c15494b1c8ae8bf67944a4c0562b094
        name: my-nodejs
        resources: {}
status: {}
